body {
	background-image: url(../images/background.jpg)!important;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
}
#content-body {
	clear: both; 
	padding: 0;
	padding-bottom: 20px;
	padding-top: 20px;
	/**	width: 90%; /* Alterar para mudar escala*/
	background-color: rgba(255, 255, 255, 1);
	margin-top: 70px;
	padding-left: 10px;
	padding-right: 10px;
}
h2 {
	margin-bottom: 30px;
	text-transform: uppercase;
	color: #00488D;
	text-align: center;
	margin-top:0;
	padding:0;
}



#form {
	margin-bottom: 70px;
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 0;
	height: 500px !important;

}

#form form input{
	margin-bottom: 20px;
	height: 50px;
	font-size: 20px;
	float: left;
}

#form form input[type="text"] {
	/*margin-left:  5px;*/
	border:1px solid #838383;
	margin-left:0.5%;
	margin-right:0.5%;
	width: 49%;
	transition: 0.5s;
}

#form form input[type="text"]:focus, 
#form form textarea:focus {
	/*margin-left:  5px;*/
	border:1px solid #0561A0;
}

#form form input[type="submit"]{
	margin-bottom: 90px;
	height: 40px;
	font-size: 20px;
	width: 40%;
	float:right;
	transition: 1s;

}

#form form input[type="reset"]{
	margin-bottom: 90px;
	width: 40%;
	height: 40px;
	font-size: 20px;
	float:left;
	transition: 1s;
}

#form form textarea{
	margin-bottom: 20px;
	height: 30vh;
	font-size: 20px;
	width: 100%;
	border:1px solid #838383;
	max-height: 200px;
}


#contato .thumbnail {
	border-radius: 0;
}
#contato div {
	/**background-color: #D7D7D7;*/
	width: 100%;
	height: 120px;
	padding-top: 20px;
	padding-left: 10px;
	border-radius: 10px;
	height: auto;
}


#contato div h3 {
	margin:0;
	padding: 0;
	color: #00488D;
	font-size: 1.5em;
}

#contato div h4 {
	color: #00488D;
}

#mapa iframe {
	height: 360px;
	margin-top:5px;
	border-radius: 0;
}

@media (max-width: 768px) {
	#form form input[type="text"] {
	/*margin-left:  5px;*/
	width:100% !important;
	margin-left:0 !important;
	margin-right:0 !important;
	}
}
